body{
  background-image: url(../foto.jpg);
}

div{
  border: 2px solid #00f;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
  font-size: 14px;
}
.titulo{
  background-color: rgb(81, 219, 111);
  color: rgb(221, 74, 74);
  font-size: 36px;
}

